In [67]:
import pandas as pd

In [68]:
df = pd.read_csv('data/clean-one-line.csv')
df = df.drop(['flagSide'], axis=1)
df = df.head(30)
df.head()

,game,event1,event2,event3,event4,event5,event6,event7,event8,event9,...,event26,event27,event28,event29,event30,event31,event32,event33,event34,event35
0,ESPORTSTMNT01_2695708,RED: first_blood,BLUE: herald,BLUE: first_tower_top,RED: dragon,RED: herald,BLUE: first_tower_mid,BLUE: first_tower_bot,RED: dragon,RED: first_tower_mid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ESPORTSTMNT01_2695774,RED: first_blood,BLUE: herald,BLUE:dragon,BLUE: herald,BLUE: first_tower_mid,RED: dragon,RED: first_tower_bot,BLUE: second_tower_mid,BLUE: baron,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ESPORTSTMNT01_2695807,BLUE: dragon,RED: first_blood,RED: herald,BLUE: dragon,RED: first_tower_bot,BLUE: first_tower_bot,BLUE: first_tower_top,BLUE: first_tower_mid,BLUE: herald,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ESPORTSTMNT01_2695835,RED: first_blood,RED: dragon,RED: herald,RED: first_tower_bot,RED: dragon,RED: herald,RED: first_tower_mid,BLUE: first_tower_bot,RED: dragon,...,RED: nexus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ESPORTSTMNT01_2696159,BLUE: first_blood,RED: dragon,BLUE: herald,BLUE: first_tower_top,BLUE: second_tower_top,BLUE: first_tower_bot,BLUE: dragon,BLUE: first_tower_mid,BLUE: second_tower_mid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
count = 0
total = 0

SIDE_FROM = 'BLUE'
FROM = 'first_blood'
SIDE_TO = 'BLUE'
TO = 'first_tower_mid'

for index, row in df.iterrows():
    list_row = row.to_list()
    for index, value in enumerate(list_row):
        if value == SIDE_FROM + ': ' + FROM:
            total += 1
            next_event = str(list_row[index+1])
            if next_event == SIDE_TO + ': ' + TO:
                count += 1

count/total

0.0