In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score,precision_score,recall_score,f1_score,roc_auc_score

In [2]:
df = pd.read_csv('../data/crawler/unified-events-statistics.csv')
def qtd_eventos(integer):
    return 45 - integer

qtd_eventos = list(map(qtd_eventos, df.isnull().sum(axis=1).tolist()))
df['qtd_eventos'] = qtd_eventos
df = df[df.qtd_eventos >= 30]
df = df.replace(['BLUE: first_blood',
    'BLUE: dragon',
    'BLUE: herald',
    'BLUE: first_tower_top',
    'BLUE: first_tower_mid',
    'BLUE: first_tower_bot',
    'BLUE: second_tower_top',
    'BLUE: second_tower_mid',
    'BLUE: second_tower_bot',
    'BLUE: third_tower_top',
    'BLUE: third_tower_mid',
    'BLUE: third_tower_bot',
    'BLUE: inhibitor_top',
    'BLUE: inhibitor_mid',
    'BLUE: inhibitor_bot',
    'BLUE: baron',
    'BLUE: elder_dragon',
    'BLUE: nexus_tower',
    'BLUE: nexus',
    'RED: first_blood',
    'RED: dragon',
    'RED: herald',
    'RED: first_tower_top',
    'RED: first_tower_mid',
    'RED: first_tower_bot',
    'RED: second_tower_top',
    'RED: second_tower_mid',
    'RED: second_tower_bot',
    'RED: third_tower_top',
    'RED: third_tower_mid',
    'RED: third_tower_bot',
    'RED: inhibitor_top',
    'RED: inhibitor_mid',
    'RED: inhibitor_bot',
    'RED: baron',
    'RED: elder_dragon',
    'RED: nexus_tower',
    'RED: nexus'], range(38))
df.head()

,golId,game,event1,event2,event3,event4,event5,event6,event7,event8,...,redMidWR,redMidKDA,redAdcGP,redAdcWR,redAdcKDA,redSupportGP,redSupportWR,redSupportKDA,result,qtd_eventos
2,36866,ESPORTSTMNT02_2557390,19,2,20,24,2,4,20,3,...,0.0,20.0,0,0.0,0.00,4,1.0,2.8,0,31
7,36889,ESPORTSTMNT02_2557053,19,1,2,5,1,20,21,4,...,1.0,1.6,1,0.0,0.40,0,0.0,0.0,1,32
11,36894,ESPORTSTMNT02_2577994,0,20,2,1,5,3,6,20,...,0.0,0.0,1,0.0,12.00,0,0.0,0.0,1,30
33,36926,ESPORTSTMNT05_2530903,19,21,20,22,23,20,21,25,...,0.0,0.0,0,0.0,0.00,0,0.0,0.0,0,34
35,36928,ESPORTSTMNT05_2530937,0,20,21,1,22,3,24,2,...,0.0,0.0,2,0.0,1.75,0,0.0,0.0,1,35

In [3]:
y = df['result'].copy()
X = df.drop(['golId','result','game','event31','event32','event33','event34','event35','event36','event37','event38','event39','event40','event41','event42','event43','event44','event45', 'qtd_eventos'],axis=1)
X.head()

,event1,event2,event3,event4,event5,event6,event7,event8,event9,event10,...,redJungleKDA,redMidGP,redMidWR,redMidKDA,redAdcGP,redAdcWR,redAdcKDA,redSupportGP,redSupportWR,redSupportKDA
2,19,2,20,24,2,4,20,3,6,1,...,0.00,1,0.0,20.0,0,0.0,0.00,4,1.0,2.8
7,19,1,2,5,1,20,21,4,1,3,...,0.00,1,1.0,1.6,1,0.0,0.40,0,0.0,0.0
11,0,20,2,1,5,3,6,20,2,4,...,13.67,0,0.0,0.0,1,0.0,12.00,0,0.0,0.0
33,19,21,20,22,23,20,21,25,5,24,...,0.00,0,0.0,0.0,0,0.0,0.00,0,0.0,0.0
35,0,20,21,1,22,3,24,2,4,7,...,0.00,0,0.0,0.0,2,0.0,1.75,0,0.0,0.0

In [4]:
def preprocess_input(X,y):
    X = X.copy()
    X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,stratify=y)
    scaler = StandardScaler()   
    scaler.fit(X_train)
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)
    return X_train,X_test,y_train,y_test,scaler

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

executions = pd.DataFrame()

for i in range(50):
  print('execuÃ§Ã£o nÃºmero ' + str(i))
  X_train,X_test,y_train,y_test,scaler = preprocess_input(X,y)

  models = {
      'Logistic Regression': LogisticRegression(max_iter=10000),
      'Support Vector Machine (RBF Kernel)': SVC(C=1,gamma=0.01,kernel='sigmoid',max_iter=50000,probability=True),
      'Decission Tree': DecisionTreeClassifier(),
      'Adaboost': AdaBoostClassifier(),
      'Random Forest': RandomForestClassifier(),
      'Gradient Boosting Classifier': GradientBoostingClassifier(),
      'KNN': KNeighborsClassifier(n_neighbors=3),
      'Gaussian NB': GaussianNB()
  }

  for name, model in models.items():
    model.fit(X_train,y_train)

  scores_list = []

  for name,model in models.items():    
      scores_list.append({
      'model': name,
      'amount_events': '30',
      'execution': i,
      'Balanced Accuracy': balanced_accuracy_score(y_test,model.predict(X_test)),
      'Precision':  precision_score(y_test,model.predict(X_test)),
      'Recall': recall_score(y_test,model.predict(X_test)),
      'F1-Score': f1_score(y_test,model.predict(X_test)),
      'auc': roc_auc_score(y_test,model.predict_proba(X_test)[:,1])
      })
  # scores = pd.DataFrame(scores_list)
  executions = executions.append(scores_list)

execuÃ§Ã£o nÃºmero 0
execuÃ§Ã£o nÃºmero 1
execuÃ§Ã£o nÃºmero 2
execuÃ§Ã£o nÃºmero 3
execuÃ§Ã£o nÃºmero 4
execuÃ§Ã£o nÃºmero 5
execuÃ§Ã£o nÃºmero 6
execuÃ§Ã£o nÃºmero 7
execuÃ§Ã£o nÃºmero 8
execuÃ§Ã£o nÃºmero 9
execuÃ§Ã£o nÃºmero 10
execuÃ§Ã£o nÃºmero 11
execuÃ§Ã£o nÃºmero 12
execuÃ§Ã£o nÃºmero 13
execuÃ§Ã£o nÃºmero 14
execuÃ§Ã£o nÃºmero 15
execuÃ§Ã£o nÃºmero 16
execuÃ§Ã£o nÃºmero 17
execuÃ§Ã£o nÃºmero 18
execuÃ§Ã£o nÃºmero 19
execuÃ§Ã£o nÃºmero 20
execuÃ§Ã£o nÃºmero 21
execuÃ§Ã£o nÃºmero 22
execuÃ§Ã£o nÃºmero 23
execuÃ§Ã£o nÃºmero 24
execuÃ§Ã£o nÃºmero 25
execuÃ§Ã£o nÃºmero 26
execuÃ§Ã£o nÃºmero 27
execuÃ§Ã£o nÃºmero 28
execuÃ§Ã£o nÃºmero 29
execuÃ§Ã£o nÃºmero 30
execuÃ§Ã£o nÃºmero 31
execuÃ§Ã£o nÃºmero 32
execuÃ§Ã£o nÃºmero 33
execuÃ§Ã£o nÃºmero 34
execuÃ§Ã£o nÃºmero 35
execuÃ§Ã£o nÃºmero 36
execuÃ§Ã£o nÃºmero 37
execuÃ§Ã£o nÃºmero 38
execuÃ§Ã£o nÃºmero 39
execuÃ§Ã£o nÃºmero 40
execuÃ§Ã£o nÃºmero 41
execuÃ§Ã£o nÃºmero 42
execuÃ§Ã£o nÃºmero 43
execuÃ§Ã£o nÃºmero 44
execuÃ§Ã£o nÃºmero 45
execuÃ§Ã£o nÃºmero 46
execuÃ§Ã£o nÃºmero 47
execuÃ§Ã£o nÃºmero 48
execuÃ§Ã£o nÃºmero 49

In [6]:
avg_scores_list = []

for name, model in models.items():

    avg_balanced_acc = 0

    model_metrics = executions.loc[executions['model'] == name]
    avg_balanced_acc = model_metrics['Balanced Accuracy'].sum() / len(model_metrics['Balanced Accuracy'])
    avg_precision = model_metrics['Precision'].sum() / len(model_metrics['Precision'])
    avg_recall = model_metrics['Recall'].sum() / len(model_metrics['Recall'])
    avg_f_score = model_metrics['F1-Score'].sum() / len(model_metrics['F1-Score'])
    avg_auc = model_metrics['auc'].sum() / len(model_metrics['auc'])

    avg_scores_list.append({
      'model': name,
      'amount_events': '30',
      'Balanced Accuracy': avg_balanced_acc,
      'Precision': avg_precision,
      'Recall': avg_recall,
      'F1-Score': avg_f_score,
      'auc': avg_auc
      })
avg_scores = pd.DataFrame(avg_scores_list)

In [7]:
best_model = avg_scores.sort_values(by='auc', ascending=False).iloc[0]['model']
avg_scores.sort_values(by='auc', ascending=False)

,model,amount_events,Balanced Accuracy,Precision,Recall,F1-Score,auc
4,Random Forest,30,0.897151,0.892743,0.884737,0.887087,0.949279
5,Gradient Boosting Classifier,30,0.888684,0.881943,0.877368,0.877646,0.944737
1,Support Vector Machine (RBF Kernel),30,0.879039,0.851364,0.888947,0.868358,0.942786
7,Gaussian NB,30,0.877620,0.854135,0.882632,0.866236,0.938501
3,Adaboost,30,0.868124,0.855419,0.858421,0.855338,0.925080
0,Logistic Regression,30,0.852151,0.834844,0.844737,0.838024,0.913318
6,KNN,30,0.825870,0.818456,0.800000,0.807385,0.883003
2,Decission Tree,30,0.837414,0.823799,0.825263,0.821901,0.837414

In [8]:
header = ['model', 'amount_events', 'auc']
avg_scores.to_csv('../data/models-analysis/models.csv', columns = header, mode='a',index=False,header=False)

In [9]:
import pickle

with open("../models/model-30.pkl", "wb") as f:
    pickle.dump(models[best_model], f)

with open("../scalers/scaler-30.pkl", "wb") as f:
    pickle.dump(scaler, f)